.form{
    margin: 20px 50px;
}

.form h3{
    margin: 10px;
    color: white;
}

.form h1{
    font-size: 2em;
}

.form input{
    appearance: none;
}

.form form{
    display: flex;
    flex-direction: column;
}


.form form span{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.form form span label{
    color: white;
    margin: 10px 10px;
}

.form form span select{
    appearance: none;
    border: none;
    background-color: #1c1f37;
    padding: 10px;
    font-size: 1em;
    color: white;
    border-bottom: 10px;
    margin: 10px;
}

.form form span input{
    appearance: none;
    border: none;
    background-color: #1c1f37;
    padding: 10px;
    font-size: 1em;
    color: white;
    border-bottom: 10px;
    margin: 10px;
}

.form form div{
    display: flex;
}

input[type="submit"] {
    appearance: none;
    border: none;
    background-color: #1c1f37;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    border-bottom: 10px;
    margin: 10px;
    width: fit-content;
}

input[type="submit"]:hover{
    cursor: pointer;
    border: 1px solid rgb(40, 156, 223);
}


@media screen and (max-width: 480px) {
    .form{
        margin: 10px;
    }

    .form div{
        flex-direction: column;
    }
  }
  
